<div class="container-fluid">
  <div style="text-align: center">
    <h2><span class="glyphicon glyphicon-user"></span> Customers</h2>
  </div>

  <div>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
  </div>

  <div id="fitler">
    Filter : <input type="text" [(ngModel)]="filter" (input)="applicateFilter()">
  </div>

  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4" id="addButton">
    <button class="btn btn-default" (click)="navigateToForm(-1)">Add New CustomerService</button>
  </div>

  <div class="container-fluid" id="table">
    <table class="table table-hover">
      <thead>
      <tr>
        <th></th>
        <th>Firstname
          <button class="btn btn-default" (click)="sortByFirstName()" [innerHTML]="firstNameButton"></button>
        </th>
        <th>Lastname
          <button class="btn btn-default" (click)="sortByLastName()" [innerHTML]="lastNameButton"></button>
        </th>
        <th>Address
          <button class="btn btn-default" (click)="sortByAddress()" [innerHTML]="addressButton"></button>
        </th>
        <th>City
          <button class="btn btn-default" (click)="sortByCity()" [innerHTML]="cityButton"></button>
        </th>
        <th>State
          <button class="btn btn-default" (click)="sortByState()" [innerHTML]="stateButton"></button>
        </th>
        <th>Order Total
          <button class="btn btn-default" (click)="sortByOrder()" [innerHTML]="orderButton"></button>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let x of customersTmp;let i = index" (click)="navigateToForm(i)">
        <td><span class="glyphicon glyphicon-user"></span></td>
        <td>{{x.firstName}}</td>
        <td>{{x.lastName}}</td>
        <td>{{x.address}}</td>
        <td>{{x.city}}</td>
        <td>{{x.state}}</td>
        <td>${{x.order}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
